.item {
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: auto;
  border-radius: 20px;
  background-color: rgba(74, 212, 182, 0.377);
  cursor: pointer;
}

.item:hover {
  background-color: rgba(74, 212, 182, 0.651);
}

.lines {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.btns {
  margin: 0.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  height: auto;
}

.done {
  border: solid rgba(128, 128, 128, 0.637) thin;
  background-color: rgba(128, 128, 128, 0.363);
}

.additional {
  margin: 0 0 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  height: auto;
}

.additional textarea {
  font-family: inherit;
  font-size: 1rem;
  width: 600px;
  height: auto;
}

.additional h6 {
  margin: 0.5rem auto;
}

@media (max-width: 1600px) {
  .additional textarea {
    width: 500px;
  }
}

@media (max-width: 1200px) {
  .additional textarea {
    width: 350px;
  }
}

@media (max-width: 900px) {
  .item {
    width: 90%;
  }
  .additional textarea {
    width: 300px;
  }
}

@media (max-width: 750px) {
  .item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .btns {
    width: 50%;
    align-items: center;
  }
  .additional textarea {
    width: 400px;
    height: 50px;
  }
}

@media (max-width: 600px) {
  .additional textarea {
    width: 300px;
  }
}

@media (max-width: 450px) {
  .additional textarea {
    width: 250px;
    height: 70px;
  }
}
