.App {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition-property: background-color;
  transition-duration: 1s;
}

.header {
  margin-top: 30px;
}

@media (max-width: 500px) {
  .header {
    font-size: 1.5rem;
  }
}
