.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(142, 219, 118, 0.418);
  transition-property: background-color;
  transition-duration: 1s;
}

.formActive {
  background-color: rgba(142, 219, 118, 0.253);
}

.header {
  margin-top: 30px;
}

@media (max-width: 500px) {
  .header {
    font-size: 1.5rem;
  }
}
