.cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem auto;
  padding: 0 1.2rem;
  width: 80%;
  height: 50px;
  border-radius: 10px;
  font-family: inherit;
  font-size: 1.2rem;
}

.file {
  font-size: 1.2rem;
  font-family: inherit;
  color: rgb(143, 61, 61);
}

.file::file-selector-button {
  appearance: none;
  border: none;
  font-family: inherit;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: rgba(143, 61, 61, 0.5);
  cursor: pointer;
}

.file::file-selector-button:hover {
  opacity: 0.8;
}

@media (max-width: 500px) {
  .cont {
    width: 75%;
  }
}
