.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: auto;
  margin-top: 30px;
  padding: 1rem;
  border-radius: 20px;
  background-color: rgba(118, 219, 206, 0.575);
}

@media (max-width: 1400px) {
  .cont {
    width: 700px;
  }
}

@media (max-width: 900px) {
  .cont {
    width: 500px;
  }
}

@media (max-width: 750px) {
  .cont {
    margin-top: 50px;
  }
}

@media (max-width: 600px) {
  .cont {
    width: 90vw;
  }
}

@media (max-width: 500px) {
  .cont {
    padding: 0;
  }
}
